<p>Olá <%= @resource.email %>!</p>

<p>Alguém pediu um link para você mudar a senha. Você pode fazer isso com o link abaixo.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não foi você que requisitou nova senha, por favor ignore este email.</p>
<p>sua senha não mudará até você acessar o link acima e criar uma nova senha.</p>
